@import url('./other-file.css');
#root {
    width: 1200px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:right;
}

#login {
    width: 1200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn {
    border: 1px solid black;
    width: 80px;
    height: 25px;
}

.registerForm {
    border: solid 1px black;
    min-height: 200px;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
